/*Import sections css*/
@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/event.css");
@import url("sections/history.css");
@import url("sections/contact.css");
@import url("sections/text-scroll.css");
@import url("sections/legal_notice.css");


:root{
    --primary-color: #000000;
    --secondary-color: #FF9933;

    --text-color: #ffffff;
}

/*Settings of the body*/
body{
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    font-family: 'Hind', sans-serif;
    color:var( --text-color);
  }
  
/*For smooth scrolling*/
html{
    scroll-behavior: smooth;
}

#cookieConsent {
    background-color: rgba(20, 20, 20, 0.8);
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    color: var( --text-color);
}

#cookieConsent button {
    background-color: #4CAF50;
    color: var( --text-color);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

iframe{
    border: 0;
    padding: 0;
}