/******************** HISTORIC SECTION ********************/
/******************* NORMAL SCREEN SIZE**********************/

/* Maybe I don't need it
#history_section{
  width: 100svw;
  height: 100svh;
}*/

.history_title {
    margin: 2rem 0 0 2rem;
    font-size: 80px;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
  }
  
  .history_text_container{
    width: 60%;
    height: auto;
  }
  
  .history_text {
    padding: 5rem 0 0 2rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_text_1{
    padding: 2rem 0 0 2rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
  }
  
  .poster{
    width:40svw;
  }



/* Media query for small screens (e.g., mobile devices) */
@media screen and (min-width: 800px) and (max-width: 900px) {

  .history_title {
    margin: 2rem 0 0 2rem;
    font-size: 80px;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
  }
  
  .history_phrase_container{
    width: 60%;
    height: auto;
  }
  
  .history_phrase {
    padding: 2rem 0 0 2rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_phrase_1{
    padding: 2rem 0 0 2rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
  }
  
  .poster{
    width:40svw;
  }

}

/* Media query for small screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {

  .history_title {
    margin: 2rem 0 0 2rem;
    font-size: 80px;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
    flex-direction: column;
  }
  
  .history_phrase_container{
    width: 100%;
    height: auto;
  }
  
  .history_phrase {
    padding: 2rem 0 0 2rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_phrase_1{
    padding: 2rem 0 0 2rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }
  
  .poster{
    width:40svw;
  }

}

/* Media query for small screens (e.g., mobile devices) */
@media screen and (min-width: 300px) and (max-width: 459px) {

  .history_title {
    margin: 2rem 0 0 2rem;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
    flex-direction: column;
  }
  
  .history_text_container{
    width: 100%;
    height: auto;
  }
  
  .history_text {
    padding: 1rem 2rem 0 2rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }
  
  .history_text_1{
    padding: 2rem 2rem 0 2rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;

  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }
  
  .poster{
    width:80vw;
  }
}


/* Media query for computer screens (e.g., tablets) */
@media screen and (min-width: 1200px) and (max-width: 1400px) {

  .history_title {
    margin: 2rem 0 0 4rem;
    font-size: 80px;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
  }
  
  .history_text_container{
    width: 60%;
    height: auto;
  }
  
  .history_text {
    padding: 2rem 0 0 4rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_text_1{
    padding: 2rem 0 0 4rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
  }
  
  .poster{
    width:40svw;
  }
}

/* Media query for tablet screens (e.g., tablets) */
@media screen and (min-width:1000px ) and (max-width: 1200px) {

  .history_title {
    margin: 2rem 0 0 4rem;
    font-size: 80px;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
  }
  
  .history_text_container{
    width: 60%;
    height: auto;
  }
  
  .history_text {
    padding: 2rem 0 0 4rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_text_1{
    padding: 2rem 0 0 4rem;
    font-size: 25px;
    font-weight: 500;
  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
  }
  
  .poster{
    width:40vw;
  }
}

/* Media query for small screens (e.g., mobile devices) */
@media screen and (min-width: 769px) and (max-width: 1000px) {
  .history_title {
    margin: 2rem 0 0 4rem;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
    flex-direction: column;
  }
  
  .history_text_container{
    width: 100%;
    height: auto;
  }
  
  .history_text {
    padding: 1rem 4rem 0 4rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }
  
  .history_text_1{
    padding: 2rem 4rem 0 4rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;

  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }
  
  .poster{
    width:60%;
  }
}


/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (min-width: 450px) and (max-width: 769px) {
  .history_title {
    margin: 2rem 0 0 2rem;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
    flex-direction: column;
  }
  
  .history_text_container{
    width: 100%;
    height: auto;
  }
  
  .history_text {
    padding: 1rem 2rem 0 2rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }
  
  .history_text_1{
    padding: 2rem 2rem 0 2rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;

  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }
  
  .poster{
    width:60%;
  }
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (min-width: 300px) and (max-width: 450px) {
  .history_title {
    margin: 2rem 0 0 2rem;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .history_container {
    display: flex;
    flex-direction: column;
  }
  
  .history_text_container{
    width: 100%;
    height: auto;
  }
  
  .history_text {
    padding: 1rem 2rem 0 2rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }
  
  .history_text_1{
    padding: 2rem 2rem 0 2rem;
    font-size: 25px;
    font-weight: 500;
    text-align: center;

  }
  
  .history_poster_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }
  
  .poster{
    width:60%;
  }
}