/******************** LEGAL NOTICE SECTION ********************/
/******************* NORMAL SCREEN SIZE**********************/
.legal_container{
    padding: 0 2rem 2rem 2rem;
}
.legal_title {
    line-height: 1.6;
    text-align: center;
    font-size: 2rem;
}

.legal_label{
    font-weight: 700;
    font-size: 1.2rem;
}

